.wrapper-categories {
    // button
  .button-categories {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;

    button {
      width: 80%;
      height: 52px;
      border-radius: 5px;
      border: 1px solid #b3b3b3;
      cursor: pointer;
      font-size: 14px;
    }
    .conditions {
      background-color: #e6e6e6;
    }
    .category {
      border: 1px solid red;
    }
  }
  // list-categories
  .list-categories {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 20px;

    .category-name {
      list-style: none;
      margin: 0;
      cursor: pointer;
    }
  }
}