#app {
  width: 100vw;
  height: auto;

  .wrapper {
    width: 80%;
    height: auto;
    border: 1px solid #ccc;
    margin: auto;
    display: flex;

    .wrapper-content {
      width: 100%;
      height: auto;
    }
  }
}
